# Ignore lst files
*.lst

# Compiled arch-dirs
build/apps/sample-c/arch-*/
build/apps/sample-meld/arch-*/

# Compiled compiler srcs
*.sml
*.desc
*.sig

# OSX System files
**/.DS_STORE

# Unprocessed log files
serial_capture.log
